# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Visual Studio Specific
.vs/
.vscode/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.user
*.aps
*.opendb
*.VC.db

# Temporary files
*.tmp
*.log

# --- CMake & Ninja Specific ---
build/           # 빌드 결과물 전체 
.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
install/

# --- IDE & Environment ---
.cache/          # 컴파일러 캐시
msys64/          # 혹시라도 프로젝트 내에 설치된 경우 대비